<header class="header__information">
    <div class="header__circles">
        <div class="circle__one"></div>
        <div class="circle__one circle__one--purple"></div>
    </div>
    <div class="text-header">
      <div class="header__img-container">
          <img src="./src/img/profile.png" alt="Francisco Gutierrez">
      </div>
      <div class="header__title-container">
        <h1>Hey, I'm <span>Francisco Gutierrez</span> & I'm a Frontend Developer.</h1>
      </div>
    </div>
    <div class="nav__buttoms">
        <a class="button primary-button" href="/contact">
          <p> Contact me </p>
        </a>
        <a class="button secundary--button" href="/projects"><p>View my Projects</p></a> 
    </div>
  </header> 

  <section class="projects">
  <h2 class="projects__title">My favorites Projects.</h2>

  <div class="cards__projects" id="topProjects">
       
  </div>

  <a class="button primary-button" href="/projects"><p> See the all Projects </p></a> 
  </section> 